@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desat_red: hsl(0, 36%, 70%);
  --soft_red: hsl(0, 93%, 68%);
  --dark_grey: hsl(0, 6%, 24%);
  --gradient_1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient_2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  /* background-color: #FEFAF9; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:red ;    */
}

main {
  max-width: 375px;
  min-height: 100vh;
}

.logo{
    margin: 1.5em;
    padding: 0.5em;
}

.logo img {
    width: 40%;
}

.hero {
  background-image: url("images/hero-mobile.jpg");
  width: 375px;
  height: 250px;
  margin-bottom: 4rem;
}

.content {
  text-align: center;
  padding: 0 2rem;
}

h1 {
  font-size: 2.75rem;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 0.5rem;
}

#we_are {
  font-weight: 300;
  color: var(--desat_red);
}

#comingsoon {
  font-weight: 600;
  color: var(--dark_grey);
}

.content p {
  color: var(--desat_red);
  font-size: 0.9rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.content form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--desat_red);
  border-radius: 999999px;
  height: 48px;
  font-family: "Josefin Sans", sans-serif;
}
.content form > input {
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  
  padding: 0 1.5rem;
  flex: 1;
  border: none;
  outline: none;
}
.content form > input::placeholder {
  color: var(--desat_red);
}
.content form > input::-webkit-input-placeholder {
  color: var(--desat_red);
}
.content form > input::-moz-placeholder {
  color: var(--desat_red);
}
.content form > input:-ms-input-placeholder {
  color: var(--desat_red);
}
.content form > input:-moz-placeholder {
  color: var(--desat_red);
}
.content form > img {
  display: none;
  padding: 0 0.5rem;
}
.content form > button {
  background-image: var(--gradient_2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  width: 64px;
  height: 46px;
  border: none;
  border-radius: 999999px;
  box-shadow: 0px 10px 30px -5px var(--desat_red);
  transition: background-image 0.5s linear;
}
.content form button > img {
  display: block;
}
.content form button:hover {
  transform: scale(1.125, 1.125);
}

footer{
    margin-top:2rem;
    padding: 1rem  0.5rem ;

    /* background-color:rgba(245, 179, 179, 0.295); */
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  #er-msg{
    display: block;
    padding: 0.5rem 1.5rem;
    color: var(--soft_red);
    text-align: left;
  }
  
  .show {
    display: block !important;
  }
  

  /* Media Queries */

  @media  only screen and (min-width: 1024px){

    body {
        height:100vh;
        /* background-color:rgba(245, 231, 231, 0.541); */
        background-image: url("images/bg-pattern-desktop.svg");
    }

    .wrapper {
        display: block;
        /* flex-direction: column; */
        align-items: center;
        /* background-color:red ;    */
      }
      
      main {
        display: grid;
        max-width: 100%;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        
         
      }
      
      .logo {
        width: 510px;
        justify-self: center;
        margin: 0;
      }
      .logo > img {
        margin: 0 2rem;
        width: auto;
      }
      
      .hero {
        background-image: url("images/hero-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 1/span 2;
        margin: 0;
      }
      
      .content {
        max-width: 510px;
        justify-self: center;
        text-align: left;
      }
      .content h1 {
        font-size: 5rem;
        letter-spacing: 0.75rem;
        text-transform: uppercase;
        margin-top: 34px;
        margin-bottom: 0.5rem;
      }
      .content p {
        font-size: 1rem;
        line-height: 2rem;
      }
      
      #we_are {
        font-weight: 300;
        color: var(--desat_red);
      }
      
      #comingsoon {
        font-weight: 600;
        color: var(--dark_grey);
      }
      
       
      
  }